<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-3"></div>
  <aside class="col-md-3">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-3">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
        <li>
          <%= link_to user.name, user %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>